{{ define "template/layout/header" }}
    <!-- Begin Site Title
 ================================================== -->
    <div class="container">
        <div class="mainheading">
            <h1 class="sitetitle"> {{ .APP_NAME }} </h1>
            <p class="lead">
                Just a simple App with Go
            </p>
        </div>
        <!-- End Site Title
        ================================================== -->
{{ end }}